<html>
 <head>
  <title>서핑대회1</title>

 </head>
 <body>
  <h1> 순천향서핑대회1 </h1>
  <hr>
  <form method="get" action="/result">
   이름: <input name="name" type="text"> <br><br>
   평균잰수: <input name="score" type="text"> <br><br>
   성별: 남<input type = "radio" name = "gender" value = "male">
        여<input type = "radio" name = "gender" value = "female"><br><br>
국가:
          <select name = "country" size="3">
          <option value = "kor">한검</option>
          <option value = "usa">미검</option>
          <option value = "chn">중검</option>
          <option value = "jpa">일본</option>
          <option value = "eng">영검</option>
          <option value = "fra">프랑스</option>
            <option value = "aus">호주</option>
         </select> <br><br>
        <input type="submit" value="SEND"> <br>
  </form>
 </body>
</html>
<html>
<head>
    <title>순천향서핑대회1</title>
</head>
<body>
  <h3>순천향서핑대회1 폼입력값</h3> 
  <ul>
    <li>"이름: " {{ name }} </li>
    <li>"평균잰수: " {{ score }} </li>
    <li>"성별 : " {{ gender }} </li>
    <li>"검가: " {{ country }} </li>
  </ul>
 </body>
</html>

<html>
 <head>
  <title>순천향서핑대회2</title>
 </head>
 <body>
  <h3>순천향서핑대회2 폼입력값</h3>
  <table border="1">
     <tr><td>이름</td> <td>{{ name }}</td></tr>
     <tr><td>평균잰수</td> <td>{{ score }}</td></tr>
     <tr><td>성별</td> <td>{{ gender }}</td></tr>
     <tr><td>국가</td> <td>{{ country }}</td></tr>
  </table>
 </body>
</html>

h2 {
    font-size: 2em;
    margin-top: 40px;
    text-align: center; 
    letter-spacing: -2px; 
}
form {
    margin: 0 auto;
    width: 350px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 70px;
    text-align: right;
} 
.button { 
  margin-top: 2em;
  padding-left: 90px;
  margin-left: .5em;
}